@import '../../Styles/common.scss';

.Nav {
  .navBanner {
    @include flex-spaceBetween-center;
    background-color: #000;
    height: 56px;

    .bannerDescription {
      margin-left: 50px;
      color: #fff;
      font-weight: bold;

      span {
        color: #ff4800;
      }
    }
    .bannerButton {
      @include flex-center;
      margin-right: 50px;
      color: #fff;
      background-color: #ff4800;
      width: 90px;
      height: 30px;
      font-size: 13px;
      border-radius: 15px;

      span {
        font-size: 13px;
        margin-right: 5px;
      }
    }
  }

  .navIconWrapper {
    color: #000;
    height: 59px;
    @include flex-spaceBetween-center;

    .logo {
      font-size: 30px;
      font-weight: bold;
      margin-left: 50px;
    }
    .navIcons {
      display: flex;

      .myPage {
        font-size: 10px;
        margin: auto 5px;
        .myPageIcon {
          font-size: 17px;
        }
      }
      .myHeart {
        font-size: 10px;
        margin: auto 5px;
        .myHeartIcon {
          font-size: 17px;
        }
      }
      .shoppingBag {
        font-size: 10px;
        margin: auto 5px;
        .shoppingBagIcon {
          width: 20px;
          height: 20px;
        }
      }
      .login {
        font-size: 10px;
        margin: auto 5px;
        .loginIcon {
          width: 20px;
          height: 20px;
        }
        margin-right: 50px;
      }
    }
  }

  .navMenuWrapper {
    @include flex-spaceBetween-center;
    color: #000;
    height: 53px;
    margin-top: 20px;
    margin-left: 20px;

    .navMenu {
      display: flex;
      font-size: 36px;
      font-weight: bold;

      li {
        margin-left: 30px;
      }
    }

    .searchIcon {
      width: 47px;
      height: 47px;
      margin-right: 50px;
    }
  }
  .navDetailMenuWrapper {
    display: flex;
    align-items: center;
    color: #000;
    height: 34px;
    margin: 30px;

    .detailLeftMenu {
      display: flex;
      font-weight: bold;
      margin-left: 20px;

      li {
        margin-right: 20px;
        font-weight: bold;
      }
    }

    .border {
      width: 15px;
      height: 30px;
      border-right: 1px solid #ddd;
      margin-right: 30px;
    }

    .detailRightMenu {
      display: flex;

      li {
        margin-right: 20px;
        font-style: italic;
      }
    }
  }
}
